.contenedor-hidden {
    background-color:bisque;
    width: 300px;
    height: 200px;
    padding: 15px;
    overflow: hidden ;
}

.contenedor-scroll {
    background-color:rgb(240, 166, 75);
    width: 300px;
    height: 200px;
    padding: 15px;
    margin: 10 px 0px ;
    overflow: scroll ;
}

/*Por defecto*/
.contenedor-visible {
    background-color:bisque;
    width: 300px;
    height: 200px;
    padding: 15px;
    overflow: visible ;
}

/*Las barras solo donde es necesario a diferencia del scroll*/
.contenedor-auto {
    background-color:rgb(240, 166, 75);
    width: 300px;
    height: 200px;
    padding: 15px;
    overflow: auto;
}