body {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    font-size: 2rem;
}

div.container {
    background-color: pink;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

div.principal {
    padding: 20px;
    flex-grow: 1;
}

@media (max-width: 640px) {
    body {
        flex-direction: column-reverse;
    }

    div.sidebar {
        flex-direction: row;
        justify-content: space-evenly;
    }
}