.btn-modern {
    font-size: large;
    border: solid 1px transparent;
    border-radius: 10px;
    background-color: cornflowerblue;
    transition: all 0.4s ease;
    cursor: pointer;
}

.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgb(122, 106, 228);
    background-color: darkslateblue;
    color: white;
}